header{
    display: fixed;
    background-color: blueviolet;
    width :100%;
    height: 12%;
}
/* section */
header section{
display: inline-block;

}

header section:last-child{
    position: absolute;
    right: 5%;
    top: 4%;
    text-transform: uppercase;
    
    }
    
.applogo{
    margin-left: 20%;
}